<div class="cd fade" id="ondaModal" tabindex="-1" role="dialog" aria-labelledby="ondaModal" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="d">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">E aí, qual é a sua onda?</h4>
      </div>
      <div class="modal-body">
        <p class="alert pv alert-dismissible ss">No momento o único segmento de onda disponível é educação. Escolha o curso que deseja fazer e informe algumas palavras-chaves para iniciar as pesquisa.</p>

        <select class="ue uf">
          <option>Qual curso você deseja estudar?</option>
        </select>

      </div>
      <div class="ur">
        <button type="button" class="fu us" data-dismiss="modal">Cancelar</button>
        <button type="button" class="fu us" data-dismiss="modal">
          <strong>Salvar</strong>
        </button>
      </div>
    </div>
  </div>
</div>