<% include header %>
    
    <div class="gn"><!--[ INICIO DA COLUNA LEFT ]-->

      <!-- #################################################################[ SIDEBAR-LEFT ] -->
          <% include sidebar-left %>
      <!-- #################################################################[ SIDEBAR-LEFT ] -->

    </div><!--[ FIM DA COLUNA LEFT ]-->

    <div class="gz"><!--[ INICIO DA COLUNA MAIN ]-->
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2><strong>Meus </strong>Amigos</h2>
                </div>
                <div class="panel-body no-padding">
                  <ul class="users-list">
                    <li>
                      <a href="widgets.html#">
                        <img class="avatar" alt="Jane" src="images/avatar-fat.jpg">
                      </a>
                      <div class="pull-right">
                      <button class="btn btn-success btn-xs">Iniciar Conversa</button>
                      <button class="btn btn-danger btn-xs">Deixar de Seguir</button>
                      </div>                
                      <div class="name">Fabiano Santiago</div>
                      <p>Uma breve descrição</p>

                    </li>
                    <li>
                      <a href="widgets.html#">
                        <img class="avatar" alt="Kate" src="images/avatar-mdo.png">
                      </a>
                       <div class="pull-right">
                      <button class="btn btn-danger btn-xs">Deixar de Seguir</button>
                      </div>                
                      <div class="name">Nathalia Fernanda</div>
                      <p>Uma breve descrição</p>                                  
                    </li>
                  </ul>
                </div>
              </div>
            </div><!--/col-->
    </div><!--[ FIM DA COLUNA MAIN ]-->


    <div class="gn"><!--[ INICIO DA COLUNA RIGHT ]-->
      
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ]-->
        <% include box/box-notificacao %>
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ] -->
      
      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ]-->
        <% include box/box-solicita-amizade %>
      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ] -->

    </div><!--[ FIM DA COLUNA RIGHT ]-->

<!-- #################################################################[ FOOTER ] -->
  <% include footer %>
<!-- #################################################################[ FOOTER ] -->

