<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>SocialWave &middot; E aí, qual é a sua onda?</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="stylesheets/toolkit.css" rel="stylesheet">
    <link href="stylesheets/application.css" rel="stylesheet">
    
    <!-- page css files -->
    <link href="assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="assets/css/fullcalendar.css" rel="stylesheet">
    <link href="assets/css/morris.css" rel="stylesheet">
    <link href="assets/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="assets/css/climacons-font.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.min.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>
<body class="ang">

<nav class="ck pc os app-navbar">
  <div class="by">
    <div class="or">
      <button type="button" class="ou collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="cv">Toggle navigation</span>
        <span class="ov"></span>
        <span class="ov"></span>
        <span class="ov"></span>
      </button>
      <a class="e" href="/">
        <img src="images/brand-white.png" width="90" alt="brand">
      </a>
    </div>
    <div class="f collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav ss">
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/amigos">Amigos</a></li>
          <li><a href="/favoritos">Favoritos</a></li>
          <li><a href="/ondas">Ondas</a></li>
        </ul>

        <ul class="nav navbar-nav og ale ss">          
          <li>
            <button class="cg fm ox anl" data-toggle="popover">
              <img class="cu" src="images/avatar-dhg.jpg">
            </button>
          </li>
        
        </ul>

        <form class="ow og i" role="search">
          <div class="et">
            <input type="text" class="form-control" data-action="grow" placeholder="Pesquisar">
          </div>
        </form>

        <ul class="nav navbar-nav st su sv">
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/amigos">Amigos</a></li>
          <li><a href="/ondas">Ondas</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="/perfil">Perfil</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/amigos">Amigos</a></li>
          <li><a href="/ondas">Ondas</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </div>
  </div>
</nav>

<div class="by amt">
  <div class="gc">