<% include header %>
    
    <div class="gn"><!--[ INICIO DA COLUNA LEFT ]-->

      <!-- #################################################################[ SIDEBAR-LEFT ] -->
          <% include sidebar-left %>
      <!-- #################################################################[ SIDEBAR-LEFT ] -->

    </div><!--[ FIM DA COLUNA LEFT ]-->

    <div class="gz"><!--[ INICIO DA COLUNA MAIN ]-->
      
      <ul class="ca qo anx">
        
        <!-- ################################################################[ INPUT MENSAGEM ]-->
        <li class="qf b aml">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="O que você está pensando?">
            <div class="fj">
              <button type="button" class="cg fm">Publicar</button>
            </div>
          </div>
        </li>
        <!-- ##################################################################[ INPUT MENSAGEM ]-->
        


         <!-- ################################################################[ POSTAGEM SIMPLES ]-->
        <li class="qf b aml">
          <a class="qj" href="#">
            <img
              class="qh cu"
              src="images/avatar-fat.jpg">
          </a>
          <div class="qg">
            <div class="aoc">
              <div class="qn">
                <small class="eg dp">12 min</small>
                <h5><strong>Fabiano Santiago</strong></h5>
              </div>
              <p>
                Folha de S.Paulo ‏@folha  2 minHá 2 minutos
                Multinacional de cosméticos Coty compra brasileira Hypermarcas por R$ 3,8 bilhões http://uol.com/bsggs1  
              </p>
            </div>
          </div>
        </li>
        
        <!-- ################################################################[ POSTAGEM MÉDIA ]-->
        <li class="qf b aml">
          <a class="qj" href="#">
            <img
              class="qh cu"
              src="images/avatar-mdo.png">
          </a>
          <div class="qg">
            <div class="qn">
              <small class="eg dp">34 min</small>
              <h5><strong>Nathalia Fernanda</strong></h5>
            </div>

            <p>
              Prefeitura SP ‏@prefsp 30 de out São Paulo está em transformação com obras de grande impacto na mobilidade urbana. Assista: http://youtu.be/3K8YhKQkzb4
            </p>

            <ul class="qo">
              <li class="qf">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="images/avatar-dhg.jpg">
                </a>
                <div class="qg">
                  <strong>Alexandre Hellis: </strong>
                  Legal, gostei da matéria... vou compartilhar no twitter.
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!--[ FIM DA COLUNA MAIN ]-->


    <div class="gn"><!--[ INICIO DA COLUNA RIGHT ]-->
      
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ]-->
        <% include box/box-notificacao %>
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ] -->
      
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><strong>Sugestão </strong>de onda</h2>
            </div>
            
            <div class="panel-body">
              <div data-grid="images" data-target-height="150">
                <img class="qh" data-action="zoom" src="images/enem.jpg">
              </div>
                
              <p><strong>Enem 2015/2016</strong> Saiba mais sobre o Exame Nacional do Ensino Médio!</p>
              <button class="cg ts fx">Eu quero!</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ]-->
        <% include box/box-solicita-amizade %>
      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ] -->

    </div><!--[ FIM DA COLUNA RIGHT ]-->

<!-- #################################################################[ FOOTER ] -->
  <% include footer %>
<!-- #################################################################[ FOOTER ] -->

